header {
    background-image: url("../images/earthrise-large.jpg");
    background-size: cover;
    height: 100vh;
    padding-top: 1px;
    background-position-y: 53%;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

header>div h1 {
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
}

header>div {
    position: absolute;
    left: 5%;
    bottom: 20%;
}

header>div p {
    color: white;
    margin-top: 0;
    font-size: 1rem;
}

header>div p span {
    font-weight: 600;
}

#kennedy-box {
    background-color: black;
    height: 80vh;
    overflow: hidden;
    position:relative;
    text-align:right;
}

#kennedy-video {
    min-width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    object-fit:cover;
}
#kennedy-box>div{
    z-index: 2;
    color:white;
    position:relative;
    width: 30%;
    margin: 10% 0 0 60%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 25px;
    transition: 1s;

}
#mission-statement {
    padding-top: 1px;
    background-image: url("../images/lunar-surface.jpg");
    background-color: black;
    background-size: cover;
    color: white;
    height: 100vh;
    background-repeat: no-repeat;
}

#mission-statement>div {
    width: 30%;
    margin: 15% 0 0 7%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 25px;
    transition: 1s;
}

#mission-statement>div:hover {
    background-color: rgba(0, 0, 0, .8);

}
.cards {
    background: rgb(239, 239, 239);
    padding: 50px;
    margin-top: 50px;
    width: 50%;
    margin-left: 50px;
}