header {
    background-image: url("../images/earthrise-large.jpg");
    background-size: cover;
    height: 100vh;
    padding-top: 1px;
    background-position-y: 53%;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

header>div h1 {
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
}

header>div {
    position: absolute;
    left: 5%;
    bottom: 20%;
}

header>div p {
    color: white;
    margin-top: 0;
    font-size: 1rem;
}

header>div p span {
    font-weight: 600;

}

#index-cards {
    padding: 50px;
    display: flex;
    background-image: url("../images/moon-eclipse.jpg");
    height:50vh;
}

#past-work {
    background: black;
    height: 500px;
}

#watch-button {
    text-align: center;
    font-size:1.2rem;

}

#watch-button>a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    border:2px solid white;
    border-radius:5px;
}
#watch-button>a:hover{
    background-color:azure;
    color:black;
}

.cards {
    background: rgb(239, 239, 239);
    padding: 50px;
    margin-top: 50px;
    width: 50%;
    margin-left: 50px;
}