
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

nav {
    background-color: black;
    color: white;
    padding: 5px;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 2;
    font-family:'Aldrich','Verdana', sans-serif;
    text-transform:uppercase;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 3px 10px;
    font-size: 1rem;
}

#navigation>ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    padding: 10px;
    margin-left: 60px;
}

nav li {
    display: inline;
    margin: 0px 30px;
}

nav a:hover {

    background-color: rgba(235, 235, 235, 0.5);
    border-radius: 2px;
}

#site-logo>img {
    width: 150px;
    padding: 10px;
}

h1 {
    font-family: 'Aldrich', 'Verdana', sans-serif;
    text-transform: uppercase;
}

footer {
    width:100%;
    text-align: center;
    height:200px;

}
#footer-socials{
    padding:50px;
}
