
header {

  text-align: center;
  text-wrap: pretty;
  background: black url("../images/farside-moon.jpg") no-repeat center;
  background-position-x: 0;
  background-size:contain;
  height:70vh;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
#about-intro{
    height:40vh;
    padding:5%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;
}
#about-content-section{
    margin-top:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:column wrap;

}
#about-content-section>p{
    text-align: center;
    line-height:1.5rem;
}
.blip p {
    margin:0;
}
.blip{
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    position:absolute;
    display:flex;
    top:50%;
    border: 2px solid white;
    text-align:center;
    justify-content: center;
    align-content: center;
    flex-direction:column;
    transition: .3s;
}
.blip:hover{
    width:70px;
    height:70px;
}
.timeline-container:hover .blip{
    border: 3px solid red;
}
.timeline-left-container{
    transform: translateX(-100%);
}
.timeline-container>{
    margin:0;
}
.timeline-container{
    display:flex;
    align-items: center;
    flex-direction: row;
    width: 600px;
    height: 150px;
    position: absolute;
    border:1px solid white;
    padding-left:35px;
}
.timeline-container>h2{
    font-size: 3rem;
    position: absolute;
}
.timeline-left-container>h2{
    right:0;
    transform: translateX(130%);
}
.timeline-right-container>h2{
    left:0;
    transform: translateX(-130%);
}
#line{
    margin-top:50px;
    position:relative;
    height:100vh;
    width: 2px;
    background-color: white;
}
#start-blip{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    position:absolute;
    top:0;
    border: 2px solid white;
    transform:translateX(-50%);
}

#start-blip:hover{
    background-color: black;

}
.left-blip{
    transform:translate(-50%,-50%);
    left:0;
}
.right-blip{
     transform:translate(50%,-50%);
     right:0;
}
#blip-one{
    top:100px;
    background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.9) ), url("../images/timeline-one.jpg");
    background-position-y: 45%;
}
#blip-two{
    top:300px;
}
#blip-three{
    top:500px;
}
