header {
  background-image: url("../images/large-moon.jpg");
  background-color: black;
  background-size: cover;
  /* small view port unit used to ensure that the hero image is visible and first panel 
  is always visible when loading the page on mobile devices.  */
  height: 100svh;
  padding-top: 1px;
  background-position: center;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  padding: 0 5%;
}

#header-title>h1 {
  font-size: 350%;
  color: white;
  margin-bottom: 0;
  line-height: 60px;
}

#header-title>h2 {
  color: white;
}

#header-title>h3 {
  line-height: 20px;
  font-size: .8rem;
}

#header-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  width: 288px;
  flex: 1;
}

#header-title p,
#mission-statement-content p,
#kennedy-reference-content p {
  color: white;
  text-align: left;
  font-size: 100%;
  width: 100%;
  margin-bottom: 10px;
}

#quote-author {
  font-size: .8rem;
  text-align: left;
}

#base-location-container {
  width: 200px;
  position: absolute;
  height: 200px;
  bottom: 50%;
}

#base-one-location {
  position: absolute;
  top: 120px;
  left: 50px;

}

#base-two-location {
  position: absolute;
  right: 40px;
  top: 50px;
  text-align: right;
}

#base-one-location span,
#base-two-location span {
  font-size: .8rem;
  font-style: italic;
}

#base-one-location>div,
#base-two-location>div {
  transform-origin: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .3);
  border: 1px dashed white;
  animation: rotateLocator 12s infinite linear;
  transition: .8s;

}

#base-one-location>p,
#base-two-location>p {
  font-size: .5rem;
  position: absolute;
  width: max-content;
  margin-top: 8px;
  background: #0000007d;
  padding: 5px;
  border-radius: 2px;
  line-height: .8rem;
}

#base-one-location>div:hover,
#base-two-location>div:hover {
  scale: 1.5;
}

@keyframes rotateLocator {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

#construction-image {

  max-width: 100%;

}

.image-div {
  align-self: center;
  width: 100%;
  z-index: 0;
  margin-bottom: 20px;
}

#mission-statement-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  width: fit-content;
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.46) 76%, rgba(0, 0, 0, 0) 100%);
}

#mission-statement {
  background-image: url("../images/moon-construction.jpg");
  background-position: center top;
  background-color: black;
  background-size: cover;
  color: white;
  height: 100svh;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  overflow: hidden;
}


#mission-statement h2,
#kennedy-reference-content h2 {
  font-size: 250%;
  line-height: 40px;
}

#kennedy-box {
  background-color: black;
  height: 100svh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: flex-start;
}

#kennedy-video {
  position: absolute;
  min-height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  object-fit: cover;
}

#kennedy-video-button-container {
  z-index: 2;
  position: absolute;
  right: 15px;
  bottom: 15px;
  transition: 1s;
  /* background: linear-gradient(240deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.46) 76%, rgba(0, 0, 0, 0) 100%); */

}

#video-controls {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000000;
  border-radius:10px 10px 0 0;
}

#video-playback-toggle-button {
  padding: 15px;
  font-size: 120%;
  border: 2px solid white;
  border-radius: 5px;
  background: #000000;
}

.video-control-class {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.6s;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Aldrich", "Verdana", sans-serif;
  text-decoration: none;
  margin: 10px 0 ;
}

#video-playback-toggle-button.pressed-control {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border: 1px solid white;
}

#controls-feedback-overlay {
  position: absolute;
  display:flex;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* transition: opacity 3s ease-in-out; */
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);   
  justify-content: center;
  align-items: center;

}

.overlay-animation {
  animation: video-overlay 1.2s;
}
#overlay-skip-text{
  font-family: "Aldrich", "Verdana", sans-serif;
  font-size:300%;
}
#volume-plus, #volume-minus, #skip-text{
  font-family: "Aldrich", "Verdana", sans-serif;
  font-size:300%;
}
@keyframes video-overlay {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#kennedy-reference-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  width: fit-content;
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.46) 76%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
  transition: 1s;
}

.slide-out {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
}

#mission-statement>#mission-statement-title p,
#sagan-quote>#sagan-quote-title p {
  line-height: 1.5rem;
  font-size: 1rem;
}

#mission-statement>#mission-statement-title:hover,
#kennedy-box>#kennedy-reference:hover,
#sagan-quote>#sagan-quote-title:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.hidden-element {
  display: none;
}

#video-controls.hidden {
  display: none;
}

.visible-element {
  display: block;
}

#sagan-quote {
  padding-top: 1px;
  background-image: url("../images/launch.jpg");
  background-color: black;
  background-size: cover;
  color: white;
  height: 88svh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sagan-quote-title {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 25px;
  transition: 1s;
  text-align: center;
}

#launch-countdown {
  font-family: "Aldrich", "Verdana", sans-serif;
  color: white;

  text-align: center;
  padding: 0 15px;
  font-size: 0.7rem;
  line-height: 1.2rem;
}

#launch-countdown #countdown-text {
  font-size: 1rem;
}

.scroll-arrow {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50px;

  margin: auto;
  padding: 20px 0;

  animation-name: slideArrow;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  cursor: pointer;
  z-index: 2;
}

.scroll-arrow>img {
  width: 50px;
}

.scroll-up {
  transform: rotate(180deg);
}

@keyframes slideArrow {
  0% {
    bottom: 5px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    bottom: 0;
    opacity: 0;
  }
}

@media only screen and (max-width: 400px) {
  #construction-image {
    max-width: 200%;
    margin-left: -50%;
  }
}